<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring-mybatis.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>springmvc-dispatcherservlet</servlet-name>
    <!-- dispatcherServlet继承HttpServlet基类，充当前端控制器角色，核心功能是分发请求，称为handle -->
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <!-- contexConfigLocation参数的值包含SpringMVC的配置文件路径 ，默认情况下，应用会去WEB-INF查找对应的[servlet-name]-sevlet.xml文件 -->
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>
    <!-- 表示web应用启动时立即加载 Servlet-->
    <load-on-startup>1</load-on-startup>

  </servlet>
  <!-- servlet映射声明 -->
  <servlet-mapping>
    <!-- 请求对应的servlet名称 -->
    <servlet-name>springmvc-dispatcherservlet</servlet-name>
    <!-- 监听当前域的所有请求 -->
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
